body {
  margin: 0 150px;
  background-color: #1f2937;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.right-links {
  display: flex;
  gap: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #e5e7eb;
  font-size: 18px;
}

.sectionone {
  margin: 100px 0px;
  display: flex;
  gap: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.maintext {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.secondarytext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

img {
  height: 250px;
  width: 500px;
}

button {
  background-color: #3882f6;
  color: white;
  font-size: 16px;
  padding: 8px 32px;
  border-radius: 6px;
  text-align: center;
  border: none;
  max-width: 125px;
}

.sectiontwo {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0 -9999rem;
  padding: 50px 9999rem;
}

.infoheader {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 32px;
}

.infosquares {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}

.square {
  height: 150px;
  width: 150px;
  border: solid 4px #3882f6;
  border-radius: 20px;
}

.subtext {
  font-size: 16px;
  color: #5f6266;
  width: 150px;
  text-align: center;
  margin-top: 12px;
}

.sectionthree {
  background-color: #e5e7eb;
  color: #1f2937;
  margin: 0 -9999rem;
  padding: 100px 9999rem;
  display: flex;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  width: 800px;
}

.attribution {
  text-align: right;
  font-size: 18px;
  padding-right: 48px;
  font-weight: bold;
  font-style: normal;
}

.sectionfour {
  background-color: white;
  margin: 0 -9999rem;
  padding: 100px 9999rem;
  display: flex;
  justify-content: center;
}

.actionbox {
  background-color: #3882f6;
  width: 800px;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.actiontextheader {
  font-size: 24px;
  font-weight: bold;
}

.actiontextsubtext {
  font-size: 18px;
  color: #e5e7eb;
}

.actionbutton {
  border: 2px solid white;
  max-height: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #e5e7eb;
  font-size: 18px;
  padding: 24px;
}
